{% extends 'base.html' %}
{% from 'macros/macros.html' import render_breadcrumb_item %}
{% from 'bootstrap/form.html' import render_form %}


{% block title %}Login{% endblock %}


{% block breadcrumb_title %}
    <h3>{{ _('Login') }}</h3>
{% endblock breadcrumb_title %}


{% block breadcrumb_item_list %}
    {{ super() }}
    {{ render_breadcrumb_item(endpoint='auth.login', name='Login') }}
{% endblock breadcrumb_item_list %}


{% block content %}
    <main class="page-content">
        <div class="register-page section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7 col-md-12 ml-auto mr-auto">
                        <div class="login-register-wrapper">
                            <div class="login-register-tab-list nav">
                                <a class="active">
                                    <h4>{{ _('Login') }}</h4>
                                </a>
                            </div>
                            <div class="login-form-container">
                                <div class="login-register-form">
                                    {{ render_form(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
