[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flask-debugtoolbar = "*"

[packages]
Jinja2 = ">=2.10.1"
flask = "*"
flask-babel = "*"
flask-apscheduler = "*"
flask-caching = "*"
flask-login = "*"
flask-sqlalchemy = "*"
flask-wtf = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-ckeditor = "*"
faker = "*"
flask-moment = "*"
pandas = "*"
openpyxl = "*"
