{% extends 'base.html' %}
{% from 'macros/macros.html' import render_breadcrumb_item %}


{% block title %}{{ code }} {{ _('Error') }}{% endblock %}



{% block breadcrumb_title %}
    <h3>{{ code }} {{ _('Error') }}</h3>
{% endblock breadcrumb_title %}


{% block breadcrumb_item_list %}
    {{ super() }}
    <li class="breadcrumb-item active">Error {{ code }}</li>
{% endblock breadcrumb_item_list %}


{% block content %}
    <main class="page-content section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto text-center">
                    <div class="search-error-wrapper">
                        <h1>{{ code }}</h1>
                        <h4>{{ info }}</h4>
                        <p>
                            {{ _('Sorry,<br /> the page you are looking for does not exist,<br /> have been removed, name changed or is temporarity unavailable.') }}
                        </p>
                        <a href="{{ url_for('front.index') }}" class="home-bacck-button">
                            {{ _('Back to home page') }}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
