server {
    listen 80 default_server;
    server_name _;
    access_log  /var/log/nginx/access.log;
    error_log  /var/log/nginx/error.log;

    location / {
        include uwsgi_params;
        uwsgi_pass 127.0.0.1:3031;
    }

    location /static {
        alias /home/recordit/record-it/recordit/static/;
        expires 7d;
    }
}