{% extends 'user/base.html' %}
{% from 'macros/macros.html' import render_breadcrumb_item %}


{% block title %}Home{% endblock %}


{% block breadcrumb_title %}
    <h3>{{ _('Home') }}</h3>
{% endblock breadcrumb_title %}


{% block content %}
    <div class="page-content section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="blog-top-bar">
                        <div class="toolbar-amount">
                        <span>
                            {{ _('Reports') }}: <strong>{{ pagination.total|default(0) }}</strong>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="blog-wrapper">
                        <div class="row">
                            {% if pagination.items %}
                                {% for report in pagination.items %}
                                    <div class="col-lg-6  col-md-6 col-12">
                                        <div class="single-our-blog mt--30">
                                            <div class="our-blog-contnet">
                                                <h5>
                                                    <a href="{{ url_for('user.review', report_id=report.id) }}">
                                                        {{ report.name }}</a>
                                                </h5>
                                                <div class="post_meta">
                                                    <ul>
                                                        <li>
                                                            <p>
                                                                {{ report.speaker_name }}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>
                                                                {{ report.speaker_number }}
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>{{ report.date }}</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <p>{{ report.remark|truncate(config['USER_MAX_WORDS']) }}</p>
                                                <div class="button-block">
                                                    <a href="{{ url_for('user.review', report_id=report.id) }}"
                                                       class="botton-border">
                                                        {{ _('Review it') }}</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col-12">
                                    <div class="our-blog-contnet">
                                        <div class="tip">
                                            <h5><i class="fas fa-ban"></i> {{ _('No Reports.') }}</h5>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
