{% extends 'base.html' %}
{% from 'macros/macros.html' import render_counter %}
{% from 'macros/macros.html' import render_breadcrumb_item %}


{% block title %}About{% endblock %}


{% block breadcrumb_title %}
    <h3>{{ _("About Us") }}</h3>
{% endblock breadcrumb_title %}

{% block breadcrumb_item_list %}
    {{ super() }}
    {{ render_breadcrumb_item(endpoint='front.about', name='About Us') }}
{% endblock breadcrumb_item_list %}


{% block content %}
    <div class="page-content">
        <div class="about-us-area section-ptb">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="about-us-contents">
                            <h3>Just to <span>Record it</span></h3>
                            <p>{{ lipsum(1) }}</p>
                        </div>
                    </div>
                    <div class="col-lg-6 ">
                        <div class="about-us-image text-right">
                            <img src="{{ url_for('static', filename='images/about.jpg') }}" alt="aboutImage">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="project-count-area section-ptb-160 project-count-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8  ml-auto mr-auto">
                        <div class="section-title">
                            <h4>{{ _('about us') }}</h4>
                            <h3 class="text-white">
                                {{ _('SOME IMPORTANT FACTS') }}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="project-count-inner">
                    <div class="row">
                        <div class="col-lg-10 ml-auto mr-auto">
                            <div class="row">
                                {{ render_counter(_('Teachers'), teacher_count|default(10)) }}
                                {{ render_counter(_('Students'), student_count|default(50)) }}
                                {{ render_counter(_('Courses'), course_count|default(3)) }}
                                {{ render_counter(_('Reports'), report_count|default(100)) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
