{% extends 'admin/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'macros/macros.html' import render_breadcrumb_item %}


{% block title %}Add Report{% endblock %}


{% block breadcrumb_title %}
    <h3>{{ _('Add Report') }}</h3>
{% endblock breadcrumb_title %}


{% block breadcrumb_item_list %}
    {{ super() }}
    {{ render_breadcrumb_item(endpoint='admin.manage_course', name='Manage Course') }}
    <li class="breadcrumb-item active">Add Report</li>
{% endblock breadcrumb_item_list %}


{% block dashboard_content %}
    <h3>{{ _('Add Report') }}</h3>
    <p>{{ render_form(form) }}</p>
{% endblock dashboard_content %}


{% block scripts %}
    {{ super() }}
    {{ ckeditor.load() }}
{% endblock %}
