{% extends 'base.html' %}


{% block breadcrumb_item_list %}
    {{ super() }}
    {{ render_breadcrumb_item(endpoint='admin.index', name='Dashboard') }}
{% endblock breadcrumb_item_list %}


{% block content %}
    <div class="page-content section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="account-dashboard">
                        <div class="dashboard-content">
                            {% block dashboard_content %}
                            {% endblock dashboard_content %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
