{% extends 'admin/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'macros/macros.html' import render_breadcrumb_item %}


{% block title %}Change Password{% endblock %}


{% block breadcrumb_title %}
    <h3>{{ _('Change Password') }}</h3>
{% endblock breadcrumb_title %}


{% block breadcrumb_item_list %}
    {{ render_breadcrumb_item(endpoint='admin.index', name='Dashboard') }}
    {{ render_breadcrumb_item(endpoint='admin.manage_user', name='Manage User') }}
    <li class="breadcrumb-item active">Change Password</li>
{% endblock breadcrumb_item_list %}


{% block dashboard_content %}
    <h3>{{ _('Change Password') }}</h3>
    <p>{{ render_form(form) }}</p>
{% endblock dashboard_content %}


{% block scripts %}
    {{ super() }}
    {{ ckeditor.load() }}
{% endblock %}
