{% extends 'admin/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'macros/macros.html' import render_breadcrumb_item %}


{% block title %}Register User{% endblock %}


{% block breadcrumb_title %}
    <h3>{{ _('Register User') }}</h3>
{% endblock breadcrumb_title %}


{% block breadcrumb_item_list %}
    {{ super() }}
    {{ render_breadcrumb_item(endpoint='admin.manage_user', name='Manage User') }}
    <li class="breadcrumb-item active">Register user</li>
{% endblock breadcrumb_item_list %}


{% block dashboard_content %}
    {{ render_form(form) }}
{% endblock dashboard_content %}


{% block scripts %}
    {{ super() }}
    {{ ckeditor.load() }}
{% endblock %}
