{% extends 'base.html' %}
{% from 'macros/macros.html' import render_nav_item %}


{% block title %}Settings{% endblock %}


{% block breadcrumb %}
    <div class="breadcrumb-area" data-bgimage="{{ url_for('static', filename='images/bg/breadcrumb-bg.jpg') }}"
        data-black-overlay="4">
        <div class="container">
            <div class="in-breadcrumb">
                <div class="row">
                    <div class="col">
                        {% block breadcrumb_title %}
                        {% endblock breadcrumb_title %}
                        <ul class="breadcrumb-list">
                            {{ render_breadcrumb_item(endpoint='front.index', name='Home') }}
                            {{ render_breadcrumb_item(endpoint='user.settings', name='Settings') }}
                            {% block breadcrumb_item_list %}
                            {% endblock breadcrumb_item_list %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock breadcrumb %}



{% block content %}
    <div class="page-content section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="account-dashboard">
                        <div class="row">
                            <div class="col-md-12 col-lg-2">
                                <ul role="tablist" class="nav flex-column dashboard-list">
                                    {{ render_nav_item(endpoint='user.edit_profile', name=_('Edit Profile')) }}
                                    {{ render_nav_item(endpoint='user.change_password', name=_('Change Password')) }}
                                </ul>
                            </div>
                            <div class="col-md-12 col-lg-10">
                                <div class="tab-content dashboard-content">
                                    {% block setting_content %}
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
