{% extends 'user/settings/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'macros.html' import render_breadcrumb_item %}


{% block breadcrumb %}
<div class="breadcrumb-area" data-bgimage="{{ url_for('static', filename='images/bg/breadcrumb-bg.jpg') }}"
    data-black-overlay="4">
    <div class="container">
        <div class="in-breadcrumb">
            <div class="row">
                <div class="col">
                    <h3>Settings</h3>
                    <ul class="breadcrumb-list">
                        {{ render_breadcrumb_item(endpoint='front.index', name='Home') }}
                        {{ render_breadcrumb_item(endpoint='user.settings', name='Settings') }}
                        {{ render_breadcrumb_item(endpoint='user.change_password', name='Change Password') }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumb %}


{% block setting_content %}
<div class="tab-pane active">
    <h3>{{ _('Change Password') }}</h3>
    <p>{{ render_form(form) }}</p>
</div>
{% endblock %}
