{% extends 'user/settings/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'macros/macros.html' import render_breadcrumb_item %}


{% block title %}Change Password{% endblock %}


{% block breadcrumb_title %}
    <h3>{{ _('Change Password') }}</h3>
{% endblock breadcrumb_title %}


{% block breadcrumb_item_list %}
    <li class="breadcrumb-item active">
        Change Password
    </li>
{% endblock breadcrumb_item_list %}



{% block setting_content %}
    <div class="tab-pane active">
        <h3>{{ _('Change Password') }}</h3>
        <p>{{ render_form(form) }}</p>
    </div>
{% endblock %}
