{% extends 'user/settings/base.html' %}
{% from 'bootstrap/form.html' import render_form %}
{% from 'macros/macros.html' import render_breadcrumb_item %}


{% block title %}Edit Profile{% endblock %}


{% block breadcrumb_title %}
<h3>{{ _('Edit Profile') }}</h3>
{% endblock breadcrumb_title %}


{% block breadcrumb_item_list %}
{{ super() }}
<li class="breadcrumb-item active">
    Edit Profile
</li>
{% endblock breadcrumb_item_list %}


{% block setting_content %}
    <div class="tab-pane active">
        <h3>{{ _('Edit Profile') }}</h3>
        <p>{{ render_form(form) }}</p>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ ckeditor.load() }}
{% endblock %}
